body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  font-size: 2em;
}

h2 {
  color: #42c29b;
  padding-bottom: 15px;
}

h3 {
  color: #45b29a;
}

p {
  margin: 0;
  line-height: 2;
}

a {
  color: #45b29a;
  text-decoration: none;
  margin: 0 20px;

}

a:hover {
  color: #42c29b;
  transition: 0.5s;
}

hr {
  border: gray dotted 6px;
  border-bottom: none;
  width: 3%;
  margin: 100px auto;
}
li {
  text-decoration: none;
  display: inline-block;
}

.interdiusme {
  background-color: #e0ebe8;
}

.svg-mountain {
  width: 50%;
  margin: 0 auto;
}

.svg-cloud {
  width: 10%;
  padding: 2% 30%;
}

.svg-cloud-2 {
  width: 5%;
  padding: 5% 10%;
}

.text-interdiusme {
  text-align: center;
  font-family: sans-serif;
  color: #45b29a;
  padding-top: 1%;
  font-size: 1.9em;
}

.header {
  background-color: #e0ebe8;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  font-family: sans-serif;
  color: #45b29a;
  font-size: 24px;
  float: inherit;
}

.headera {
  display: inline;
}

.h1test {
  font-size: 26px;
  text-align: center;
  color: #45b29a;
  font-family: sans-serif;
display: inline-block;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-img-2 {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 20px 0;
}

.my-profile-photo {
  width: 10%;
}

.paragraph-profile {
  margin: 1% auto;
  width: 30%;
}

.contact-message {
  width: 40%;
  margin: 40px auto;
}

.btn {
  color: white;
  background-color: #45b29a;
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
}

.btn:hover {
  color: white;
  background-color: #45d29a;
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
  transition: 1.5s;
}

.bottom-container {
  background-color: #45d29a;
  padding: 50px 0;
  color: white;
}

.contact-me {
  margin: 100px auto;
}

.copyright {
  padding: 20px 0 0 0;
}
